.links {
  color: black !important;
}
#navbar {
  font-family: Verdana, sans-serif;
}

.navlinks {
  padding: 10px;
}

@media screen and (max-width: 500px) {
  .logo {
    width: 50px;
  }
  .navbar-brand {
    font-size: 15px !important;
  }
  a {
    font-size: 14px;
  }
  .navlink {
    padding: auto;
    display: inline !important;
  }
  .navlinkcontact {
    padding: auto;
    margin-left: auto;
    display: inline-block !important;
  }
}
@media screen and (max-width: 400px) {
  .logo {
    width: 40px;
  }
  .navbar-brand {
    font-size: 13px !important;
  }
  a {
    font-size: 12px;
  }
  .navlink {
    padding: auto;
    display: inline !important;
  }
  .navlinkcontact {
    padding: auto;
    margin-left: auto;
    display: inline-block !important;
  }
}
