.card1 {
  width: 30rem;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.5), 0 10px 20px 0 rgba(0, 0, 0, 0.5);
  margin-left: -100px;
  border: 2px solid black !important;
}
.card2 {
  width: 30rem;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.5), 0 10px 20px 0 rgba(0, 0, 0, 0.5);
  margin-left: 100px;
  border: 2px solid black !important;
}

.card3 {
  width: 30rem;
  margin-left: -100px;
  border: 2px solid black !important;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.5), 0 10px 20px 0 rgba(0, 0, 0, 0.5);
}

.card4 {
  width: 30rem;
  margin-left: 100px;
  border: 2px solid black !important;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.5), 0 10px 20px 0 rgba(0, 0, 0, 0.5);
}

.cardtext {
  font-size: 15px;
  font-family: Verdana, sans-serif;
}

.cardtitle {
  font-size: 25px;
  font-family: Verdana, sans-serif;
  font-weight: bold;
}

@media screen and (max-width: 400px) {
  .card1 {
    width: 15rem;
    margin: auto;
  }
  .card2 {
    width: 15rem;
    margin: auto;
    margin-top: 40px;
  }
  .card3 {
    width: 15rem;
    margin: auto;
  }
  .card4 {
    width: 15rem;
    margin: auto;
    margin-top: 40px;
  }
}
