.carousel {
  position: absolute;
  width: 100%;
  margin-bottom: 50px;
}

.img {
  width: 1900px;
  height: 700px;
}

@media (max-width: 900px) {
    .carousel {
        width: auto;
        height: auto;
    }

    .img {
      position: relative;
      min-width: 100%;
      height: 500px; 
    }
    
}