.carousel {
  position: relative;
  width: 100%;
  margin-bottom: 50px;
}

.img {
  width: 1900px;
  height: 700px;
}

@media (max-width: 500px) {
  .carousel {
    width: auto;
    height: auto;
  }

  .img {
    position: relative;
    width: 100%;
    height: 500px;
  }
}
@media (max-width: 400px) {
  .carousel {
    width: auto;
    height: auto;
  }

  .img {
    position: relative;
    width: 100%;
    height: 500px;
  }
}
