.home {
  background-color: gray;
  font-family: Verdana, sans-serif;
}

@media screen and (max-width: 500) {
  .home {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
}
